<p style="color: green"><%= notice %></p>

<%= render @my_thread %>

<div>
  <%= link_to "Edit this my thread", edit_my_thread_path(@my_thread) %> |
  <%= link_to "Back to my threads", my_threads_path %>

  <%= button_to "Destroy this my thread", @my_thread, method: :delete %>

  <%= link_to "New Comment", new_my_thread_comment_path(@my_thread) %>
  <% if @my_thread.comments.any? %>
  <ul>
    <% @my_thread.comments.each do |comment| %>
    <li>
      <%= comment.text%>
      <%= link_to "消去", my_thread_comment_path(@my_thread,comment), method: :delete, form: {data: { turbo_confirm: 'Sure?' }} %>
      <%= link_to "編集", edit_my_thread_comment_path(@my_thread, comment)%>
    </li>
    <% end %>
  </ul>
  <% end %>

</div>
